{% extends 'base.html' %}
{% block content %}

    <h3 class="text-center mt-5 mb-5"> Your Cart {% if not cart.products.count %}empty{% endif %}</h3>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">NAME</th>
      <th scope="col">IMAGE</th>
      <th scope="col">PRICE</th>
      <th scope="col">COUNT</th>
      <th scope="col">TOTAL PRICE</th>
    </tr>
  </thead>
  <tbody>
  {% for item in cart.products.all %}
    <tr>
      <th scope="row">{{ item.content_object.title }}</th>
      <td><img src="{{ item.content_object.image.url }}" class="img-fluid"></td>
      <td>{{ item.content_object.price }} RUB</td>
      <td>{{item.count}}</td>
      <td>{{item.total_price}} RUB</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock content%}